<!DOCTYPE html> 
<html> 
<head> 
<%- include ('./partials/head') %> 
</head> 
<body> 
<div class="jumbotron"> 
<h1>Hurray!!!! you have access!!</h1> 
<a href="./shoppingList" class="text-reset">View Shopping List </a><br><br>
<a href="./addUser" class="text-reset">Add new user </a><br><br>
<a href="./addProduct" class="text-reset">Add products </a><br><br>
<a href="./userList" class="text-reset">User List</a>
</div> 
</body> 
<%- include ('./partials/footer') %> 
</html>